---
interface Props {
    icon: string
    href: string
    label: string
}

const { icon, href, label } = Astro.props
---

<a href={href} class='text-slate-500 text-xs uppercase font-bold text-center'>
    <img src={icon} aria-hidden class='inline-block h-8' />
    <span class='block mt-2'>{label}</span>
</a>
