---

---

<form
    method='post'
    target='/home'
    hx-post='/home'
    hx-swap='none'
    class='p-8 max-w-md'
    hx-indicator='#new-board-btn'
>
    <div>
        <h2 class='font-bold mb-2 text-xl'>New Board</h2>
        <label
            class='block text-sm font-medium leading-6 text-gray-900'
            for='name'
        >
            Name
        </label>
        <div class='mt-2'>
            <input
                id='name'
                name='name'
                type='text'
                required
                class='form-input block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-brand-blue sm:text-sm sm:leading-6'
            />
        </div>
    </div>

    <div class='mt-4 flex items-center gap-4'>
        <div class='flex items-center gap-1'>
            <label
                class='block text-sm font-medium leading-6 text-gray-900'
                for='board-color'
            >
                Color
            </label>
            <input
                id='board-color'
                name='color'
                type='color'
                value='#cbd5e1'
                class='bg-transparent'
                required
            />
        </div>
        <button
            id='new-board-btn'
            class='flex w-full justify-center rounded-md bg-brand-blue px-1 py-1 text-sm font-semibold leading-6 text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-brand-blue'
            type='submit'
        >
            <span class='btn-content'>Create</span>
            <span class='htmx-indicator'>Loading...</span>
        </button>
    </div>
</form>
